{# templates/product/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Product</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Update</button>
        <a href="{{ path('app_product_index') }}" class="btn btn-secondary">Cancel</a>
        {{ form_end(form) }}

    </div>
{% endblock %}