{% extends 'base.html.twig' %}

{% block title %}Commande confirmée{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>🎉 Votre commande a été confirmée !</h1>

        <p>Merci pour votre confiance.</p>

        <ul>
            <li><strong>Total :</strong> {{ order.total }} TND</li>
            <li><strong>Statut :</strong> {{ order.status }}</li>
            <li><strong>Date :</strong> {{ order.createdAt|date('d/m/Y H:i') }}</li>
        </ul>

        <a href="{{ path('order_user') }}" class="btn btn-primary mt-3">Voir mes commandes</a>
    </div>
{% endblock %}
